.s0
{
  background-image: url(https://www.ucsd.edu/_resources/img/logo_UCSD.png);
}

#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;
  color:  #182b49;
  max-width: 100%;
  font-size: 28px;
  width:100%;

  

}

#navbar a:hover
{
  background-color:  #182b49;
}

.s1
{ 
    background-color: rgb(245,240,230);
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
    max-width: 100%;
    height: 440px;
    font-size: 28px;
    display:inline-block;
    vertical-align: top;
}

.p1
{
  background-image:none;
 vertical-align: bottom;
  font-size: 24px;
}

.border
{
  background-color:#182b49;
  font-size:28px;
  width: 100%;
}

.s2
{
    background-image: url(https://brand.ucsd.edu/_images/logos/logos-college-logos-07-23.svg),  url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
    margin: auto;
    width: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 1000px;
    font-size: 28px;
    display: table-cell;    
    
}



.b
{
  background-image:none;
 vertical-align: bottom;
 color:white;
 font-size: 24px;
}


.s3
{
  background-color: rgb(245,240,230);
  font-size: 28px;
  grid-gap: 25px;
  padding: 10px;
}


.p3
{
  background-image:none;
 vertical-align: bottom;
  font-size: 24px;
}

li
{
    display: inline;
    font-size: 28px;
}

  
  .row
  {


  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 25px;
  background-color: rgb(245,240,230);
  padding: 10px;
  }
 
  .column {
    float: left;
    width: 70%;
    padding: 25px;
    background: #182b49;
    overflow: scroll;
    max-height: 500px;
    
    
  }

  
  .item1 {
    grid-row: 1 / 1;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

@media(max-width: 800px)
{
  #navbar a{
   display: none;
  
  }

  .start
  {
    max-width: 75%;
  }
  .s1
  {
    max-width: 100%;
    font-size: 24px;
  }

  .border
  {
    max-width: 100%;
    font-size: 24px;
  }

  .s2
  {
      background-image: url(https://brand.ucsd.edu/_images/logos/logos-college-logos-07-23.svg),  url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
      margin: auto;
      width: 100%;
      max-width: 100%;
      background-repeat: no-repeat;
      height: 600px;
      font-size: 28px;
      display: table-cell;    
  }

  .b
{
  background-image:none;
 vertical-align: center;
 color:white;
 font-size: 24px;
}

  .s3
  {
    max-width: 100%;
    font-size: 24px;
  }

   
  .row
  {


  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
  background-color: rgb(245,240,230);
  padding: 10px;
  }
 
  .column {
    float: left;
    width: 70%;
    padding: 25px;
    background: #182b49;
    overflow: scroll;
    max-height: 500px;
    
    
  }

  
  .item1 {
    grid-row: 1 / 1;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }



}
